<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>自定义接口JSON</title>
</head>
<body>
<p><b>接口数据访问url为：</b></p><a style="color: red" href="http://loveyx815.cn/api/api">点击此处直接访问http://loveyx815.cn/api/api</a><br>
<p><b>JSON在线校验解析网站：</b></p><a style="color: red" href="http://www.bejson.com/">点击此处直接访问http://www.bejson.com/</a><br>

<form action="api" method="post">
    <textarea style="width: 50%;height: 140px" placeholder="这里输入你想要设置的JSON数据格式，后面接口会返回同样的数据. " name="jsontext" id ="test"></textarea>
    <br>
    <button type="submit" value="提交">提交</button>
</form>
</body>
</html>